In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('with_log_concat1.csv', encoding = 'utf-8')

In [8]:
data = data[['log_Q','log_exp_gdp','log_imp_gdp','log_dist']]

In [9]:
data.corr()

                log_Q  log_exp_gdp  log_imp_gdp  log_dist
log_Q        1.000000    -0.078099     0.267707  0.197701
log_exp_gdp -0.078099     1.000000    -0.035548 -0.091032
log_imp_gdp  0.267707    -0.035548     1.000000  0.232474
log_dist     0.197701    -0.091032     0.232474  1.000000